#img-bg{
    background-image: url('https://i.pinimg.com/564x/9c/39/5e/9c395e07bd046ead3f4f73127a4a6876.jpg');
    
    min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cor-login {
  background-color: #E1BEE7;
  border-radius: 20px;
  padding: 30px;
}